/* HEADER */
.header {
    display: block;
    height: 60px;
    width: 1280px;  
    background-position: center;
}

/* MENU-Navbar */
.menu {
    /* flex-container */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    /* font-size: 27px; */
    border: 1px;
    width: 660px;
    height: 35px;
    /* text-align: center; */
    /* vertical-align: middle; */
    margin: 25.5px 375px;
    padding: 10px; 
    color: red;
}

/* Home, photoapp, design, download */
.menu-home, .menu-photoapp, .menu-design, .menu-download {
    /* flex-elements */
    display: flex;
    align-items: center;
    /* margin: 2px 25px 2px 25px; */
    /* width: 68px; */
    height: 100%;
    border: 1px; 
    /* padding: 10px;      */
}      

.menu-home a, .menu-photoapp a, .menu-design a, .menu-download a {
    text-decoration: none;
    color: red;
}  

    /* MAIN */
    .main {
        box-sizing: border-box;
        background-color: rgb(247, 246, 246);
        background-position: center;
        height: 100%;
        width: 1280px;   
        text-align: center; 
        margin: auto;
    }

    /* Image 1 */
    .card-image {
        /* background: 100%; */
        background-position: auto;
        /* vertical-align: bottom; */
        display: inline-block;
        /* height: 60%; */
        width: 63%;
        /* left: auto; */
        /* top: auto; */
        /* padding: 10px; */
        margin: 0px 300px 0px 300px;   
        border: 1px; 
    }
    
    /* Content */
    .content-title {
        /* content: normal;
        display: inline-block; */
        font-size: 30px;
        /* font: 300; */
        text-align: center;
        text-decoration: double;
        /* height: 100vh; */
        /* width: 100vw; */
        margin: 10px 300px 10px 300px;
        /* border: 1px;  */
        padding: 10px;
        color: blue;
    }

    .content-text-1, .content-text-2 {
        display: inline-block;
        font-size: 18px;
        text-align: center;
        border: 1px; 
        width: 60%;
        padding: 10px;
        margin: 10px 300px 10px 300px;
        color: brown;
    }

    /* get started */
    .links-get-started {       
        border: 1px;
        text-align: center;
        margin-bottom: auto;
    }

    .link-get-started-button {
        font-size: 15px;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        vertical-align: auto;
        padding: 10px 5px;
        margin: auto;
        width: 150px;
        color: white;
        background-color: red;
        border-radius: 5px;
    }
    
    /* Rechangle */
    
    /* Фон */
    /* background */
    .background-grey {
        background-color: rgb(235, 232, 232);
        height: 100vh;
        width: 100vw;
        left: 0px;
        top: 0px;    
        }
    
    /* FOOTER */
    .footer {
        box-sizing: border-box;
        background-position: center;
        /* height: 10vh; */
        width: 1280px;
        text-align: right;
        vertical-align: auto;
        margin: 10px 10px 10px 10px;
        padding: 10px;           
    }

    /* Copyright by phototime - all right reserved */
    .text-footer {
        display: block;
        font-size: 18px;
        width: 426px;
        text-decoration: double;
        /* line-height: 2px; */
        text-align: right;
        display: inline-block;
        /* vertical-align: auto; */
        /* border: 1px;  */
        margin-right: 13%;
        padding: 10px;
        color: #000;
    }

    /* Sfondo */
    /* .Sfondo {
        display: block;
        border: 1px #000;
        width: 1280px;
        height: 100vh;
        background-color: #fff;
    } */